* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    min-height: 100vh;
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    padding: 30px 10%;
}

header h2{
    color: white;
    margin-right: auto;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    justify-content: space-between;
}

li,a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #cdf0f1;
    padding: 8px;
    font-family: Verdana;
}

.nav-links li a {
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    transition: all 0.3s ease;
    color: rgba(0,136,169,1);
}

span {
    color: rgba(0,136,169,1);
}


button {
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgba(0,136,169,1);
    cursor: pointer;
    transition: all 0.3 ease;
}

button:hover {
    background-color: hsl(20, 100%, 99%);
    color: rgba(0,136,169,1);
    transform: scale(1.0);
    cursor: pointer;
}

.about {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0 auto;
    min-height: 100vh;
    padding: 10px;
}
.main img {
    width: 50%;
    min-height: 100vh;
    border-radius: 50px;
}

.about-text {
    width: 50%;
    text-align: center;
    min-height: 100vh;
}

.about-text h3 {
    width: 100%;
    position: relative;
    text-transform: capitalize;
    background: rgba(0,136,169,1);
    border: none;
    border-radius: 20px;
    font-family: Verdana;
    color: #cdf0f1;
}

.about-text h5 {
    color: rgba(0,135,168,1);
    position: absolute;
    border: 1px solid #cdf0f1;
    border-radius: 20px;
    padding: 3px;
    background-color: #cdf0f1;
    font-size: 12px;
    top: 21%;
    right: 1%;
    font-family: Verdana;
}

.about-text .bts {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 5px;
}
p {
    color: white;
    line-height: 28px;
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about-text h5 {
        top: 7%;
        position: absolute;
    }

    .main img {
        width: 90%;
        height: auto;
    }

    .about-text {
        width: 90%;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 5px 0;
    }
}









