* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    min-height: 100vh;
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
    padding: 30px 10%;
}

header h2{
    color: white;
    margin-right: auto;
}

#navbar{
    list-style-type: none;
}

#navbar li {
    display: inline-block;
    justify-content: space-between;
}

li,a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #cdf0f1;
    padding: 8px;
    font-family: Verdana;
}

#navbar li a {
    transition: all 0.3s ease;
}

#navbar li a:hover {
    transition: all 0.3s ease;
    color: rgba(0,136,169,1);
}

span {
    color: rgba(0,136,169,1);
}


button {
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgba(0,136,169,1);
    cursor: pointer;
    transition: all 0.3 ease;
}

button:hover {
    background-color: hsl(20, 100%, 99%);
    color: rgba(0,136,169,1);
    transform: scale(1.0);
    cursor: pointer;
}

.service {
    background: transparent;
    width: 100%;
    padding: 8px;
    margin-top: 0;
}

.title h2{
    color: #cdf0f1;
    font-size: 30px;
    margin-top: 2px;
    text-align: center;
    text-transform: capitalize;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card {
    max-height: 500px;
    padding: 20px 30px;
    width: 335px;
    margin: 10px;
    border: 0.5px solid #cdf0f1;
    background: transparent;
    border-radius: 20px;
    text-overflow: ellipsis;
    text-align: center;

}
.card i {
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 15px 0;
    color: rgba(0, 136, 169,1);
}

h5 {
    color: #cdf0f1;
    font-size: 20px;
    margin-bottom: 10px;
}

.pra p{
    color: #cdf0f1;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 20px;
}
.card .button {
    color: #cdf0f1;
    text-decoration: none;
    border-radius: 20px;
    transition: .4s;
    padding: 10px 30px;
    background-color: rgba(0,136,169,1);
    font-weight: bold;
    cursor: pointer;
}
.card .button:hover {
    cursor: pointer;
    background-color: #cdf0f1;
    color: rgba(0,136,169,1);
}
.mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
    align-items: center;
}
#navbar li a{
    position: relative;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgba(0,136,169,1);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    position: absolute;
    background: rgba(0,136,169,1);
    bottom: 5px;
    left: 10px;
}


/* ---------- Mobile Responsive Styles ---------- */

/*-------------- Media Query-------------*/
@media screen and (max-width: 800px){
    header {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        z-index: 9;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .service {
        padding: 3px;
    }
    .title h2 {
        font-size: 20px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -300px;
        position: fixed;
        height: 100vh;
        width: 300px;
        background-color: hsl(0, 0%, 6%);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0;
    }
    .mobile {
        display: flex;
        align-items: center;
        color: #fff;
    }
    #navbar li {
        padding: 0 25px;
        font-size: 15px;
        margin-bottom: 26px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 15px;
    }
    .cta{
        font-size: 20px;
        padding-left: 10px;
    }
    #bar {
        font-size: 20px;
        padding-left: 10px;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 70vh;
    }
    .card {
        width: 80%;
        margin: 5px;
    }
}
@media screen and (max-width: 500px){
    header{
        position: sticky;
        top: 0;
        left: 0;
        box-shadow: 0px 10px 20px hsl(0, 0%, 6%);
        background-color: hsl(0, 0%, 5%);
    }
    .title h2 {
        font-size: 12px;
        margin-top: 3px;
    }
    .card {
        width: 80%;
        margin: 5px;
    }
    .card i {
        font-size: 20px;
        margin: 10px 0;
    }
    .card {
        padding: 10px;
    }
}





