<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>About</title>
        <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    </head>
    <body>
        <header class="container">
            <h2>About<span> Me</span></h2>
          <nav>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="active" href="/about">About</a></li>
                <a href="# " id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
          </nav>
            <div class="mobile">
                <a class="cta" href="/projects"><i class="fas fa-map"></i></a>
                <i id="bar" class="fa-solid fa-outdent"></i>
            </div>
         </header>

        <section class="about">
           <div class="main">
               <img src="static/images/bio.jpg" alt="">
               <div class="about-text">
                   <h3>My Bio</h3>
                   <h5>#Code Create Evolve</h5>
                   <p>  Hi there, I'm  Stephen Anti - Code<span>Craze!</span>👋<br>

                       🎓 I am a passionate student with a strong interest in <br>**Artificial Intelligence** and **WEB Development**.<br><br>

                       💡 About Me<br><br>

                        - 🌱 Currently learning: **<span class="py">PYTHON</span><span class="fla">,FLASK,</span><span class="sql"> SQL</span>**<br>
                        - 🌐 Building my skills in web development and AI<br>
                        - 🚀 Always eager to take on new challenges and learn more. <br>I love challenging that push me beyond my comfort zone.<br>
                        - 🤖 This portfolio is a collection of my journey so far,<br> thank you for taking time to explore it!<br><br>

                       📈 My Goals<br><br>

                        - Deepen my understanding of AI concepts<br>
                        - Create impactful web applications<br>
                        - Collaborate with others on exciting open-source projects<br><br>

                       🛠️ Skills<br><br>

                        - Python (beginner/intermediate)<br>
                        - Eager learner with curiosity for new technologies<br><br>

                       📫 How to reach me<br><br>

                        Feel free to connect or collaborate! (stephenanti63@gmail.com)<br><br>

                        ---🕊️🕊️🕊️🕊️🕊️🕊️---<br><br>

                         “Learning never exhausts the mind.” – Leonardo da Vinci.
                   </p>
                   <a href="/contact"><button class="bts" type="button">Let's Vibe</button></a>
               </div>
           </div>
       </section>
    </body>
    <script src="{{ url_for('static', filename='js/mySite.js') }}"></script>
</html>