<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
       <!-- <header><h1>These are projects greatly designed</h1></header> -->
    <header>
        <h2 class="logo"><span>Pro</span>jects</h2>
           <nav>
                <ul class="nav-link">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
           </nav>
        <a href="https://www.youtube.com/@youngTarget20" class="btn"><button>Subscribe</button></a>
    </header>

       <section class="about">
           <div class="main">
               <img src="static/images/best.jpg" alt="">
               <div class="about-text">
                   <h5>Personal Assistant(<span>Python</span>)</h5>
                   <p>A command-line personal assistant built with Python.
                       It requests for sample info and return a summary.
                       This project showcases user interaction, command parsing--a fun intro to building intelligent programs.
                   </p>
               </div>
           </div>
       </section>

        <section class="about1">
           <div class="main1">
               <img src="static/images/calculator.jpg" alt="">
               <div class="about-text1">
                   <h5>Calculator(<span>Python</span>)</h5>
                   <p>A simple yet efficient terminal based calculator built with Python.
                       It supports multiple input. Written for clarity and usability,
                       this project demonstrate the fundamentals of input handling,
                       conditionals and clean output formatting.
                   </p>
               </div>
           </div>
       </section>

        <section class="about2">
           <div class="main2">
               <img src="static/images/random.jpg" alt="">
               <div class="about-text2">
                   <h5>Random Number Generator(<span>Python</span>)</h5>
                   <p>A lightweight Python tool that generates random numbers within a specific range.
                       Useful for simulations, games, and testing purposes,
                       this project highlights the use of Python's built-in random module and user input validation.
                   </p>
               </div>
           </div>
        </section>

        <section class="about3">
           <div class="main3">
               <img src="static/images/course.jpg" alt="">
               <div class="about-text3">
                   <h5>Course Registration System(<span>Python</span>)</h5>
                   <p>
                       A basic registration system that stimulates student enrollment using Python.
                       This project manages courses and registration logic.
                       It a beginner-friendly project to get started with as a beginner.
                   </p>
               </div>
           </div>
        </section>

</body>
</html>