<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
       <!-- <header><h1>These are projects greatly designed</h1></header> -->
    <header>
        <h2 class="logo"><span>Pro</span>jects</h2>
           <nav>
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a class="active" href="/projects">Projects</a></li>

                    <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                </ul>
           </nav>
            <div class="mobile">
                <a href="https://www.youtube.com/@youngTarget20" ><i class="fa-solid fa-link"></i></a>
                <i id="bar" class="fa-solid fa-outdent"></i>
            </div>
    </header>
        <div class="grid-container">
            <div class="box box1" style="grid-area: box-1;">
                <h4>Calculator App</h4>
                <div class="capp">
                    <img src="static/images/calculator.jpg" width="200px" height="240px" alt="calculator">
                    <p> A raw file program written in python and currently on github and an app version,
                        which has been deployed and is hosted on render.
                    </p>
                </div>
            </div>
            <div class="box box2" style="grid-area: box-2;">
                 <h4>Portfolio Website</h4>
                <div class="capp">
                    <img src="static/images/best.jpg" width="200px" height="240px" alt="calculator">
                    <p> My first website created in my first year with python, flask, sqlite3,
                        javascript and html and css. It's currently what you are seeing. I know you love it.
                    </p>
                </div>
            </div>
            <div class="box box3" style="grid-area: box-3;">
                 <h4>Random N0 Generator</h4>
                <div class="capp">
                    <img src="static/images/random.jpg" width="200px" height="240px" alt="calculator">
                    <p> A raw file program written in python and currently on github and still working on an app version.
                    </p>
                </div>
            </div>
            <div class="box box4" style="grid-area: box-4;">
                 <h4>C. Registration App</h4>
                <div class="capp">
                    <img src="static/images/course.jpg" width="200px" height="240px" alt="calculator">
                    <p> A raw file program written in python and currently on github and still working on an app version.
                    </p>
                </div>
            </div>
        </div>
</body>
    <script src="{{ url_for('static', filename='js/mySite.js') }}"></script>
</html>